doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(type='text/javascript' src='/javascripts/bundle.js')
    script(src='https://use.fontawesome.com/7af01380f2.js')
  body
    block content
